.navbar-dashboard {
    font-size: 36px;
    font-weight: bold;
    color: rgb(250, 248, 248);
    background:linear-gradient(90deg, Blue, Indigo,violet);
    width:100px;
    height:75px;
}

.searchTitle {
    font-size: 24px;
    font-weight: bold;
    color: rgb(9, 8, 8);
    padding: 10px;
}

.city-name {
    font-size: 30px;
    font-weight: bold;
    color: rgb(9, 8, 8);
    padding: 10px;
}

.forecast {
    font-size: 18px;
}
